.Forecast {
  display: flex;
  overflow-x: scroll;
  width: 100%;
}

.Forecast .ForecastCard {
  text-align: center;
  margin: 6px;
}

.Forecast::-webkit-scrollbar-track {
  background-color: transparent;
  padding: 2px 0;
}

.Forecast::-webkit-scrollbar {
  height: 10px;
}

.Forecast::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
