* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: #000000;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
