.Weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 600px;
}

.Weather h3 {
  font-size: 1.5rem;
}

.Weather input {
  border-radius: 4px;
  margin: 10px 0px;
}

.Weather input:focus {
  border-color: black;
}

.Weather .light-background {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 10px;
}

.Weather .WeatherInfo {
  width: 100%;
}

.Weather .WeatherInfo .row {
  margin: 10px 0px;
}

.Weather .WeatherInfo .weather-main {
  text-align: center;
}

.Weather .WeatherInfo canvas {
  margin: 10px 0;
}

.Weather .WeatherInfo .WeatherTemperature .unit {
  font-size: 20px;
  position: relative;
  line-height: 1;
  top: -15px;
  margin-left: 5px;
}

.Weather .WeatherInfo .WeatherTemperature a {
  color: #000000;
  opacity: 0.6;
  transition: all 200ms ease-in-out;
}

.Weather .WeatherInfo .WeatherTemperature a:hover {
  text-decoration: none;
  color: #000000;
  opacity: 0.9;
}

.Weather .WeatherInfo .description {
  padding: 30px 30px 20px;
}

.Weather .WeatherInfo .description ul {
  list-style-type: none;
  padding: 0;
}

.Weather .WeatherInfo .InfoCard .unit {
  font-size: 14px;
  position: relative;
  line-height: 1;
  top: -8px;
  margin-left: 2px;
}
