.Weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 600px;
}

.Weather h3 {
  font-size: 1.5rem;
}

.Weather input {
  border-radius: 4px;
}

.Weather .outter-row {
  width: 100%;
}

.Weather .weather-main {
  text-align: center;
}

.Weather .weather-main .fa-snowflake {
  font-size: 80px;
  margin-bottom: 20px;
}

.Weather .weather-main .unit {
  font-size: 20px;
  position: relative;
  line-height: 1;
  top: -15px;
  margin-left: 5px;
}

.Weather .light-background {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 10px;
}

.Weather .description {
  padding: 30px;
  color: #a84704;
}

.Weather .description ul {
  list-style-type: none;
  padding: 0;
}

.Weather .weather-card.bottom p {
  margin: 0;
}

.Weather .weather-card .unit {
  font-size: 14px;
  position: relative;
  line-height: 1;
  top: -8px;
  margin-left: 5px;
}

.Weather .forecast {
  width: 100%;
  height: 180px;
}
