.Weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 600px;
}

.Weather h3 {
  font-size: 1.5rem;
}

.Weather input {
  border-radius: 4px;
}

.Weather .light-background {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 10px;
}

.Weather .WeatherInfo {
  width: 100%;
}

.Weather .WeatherInfo .row {
  margin: 0;
}

.Weather .WeatherInfo .weather-main {
  text-align: center;
}

.Weather .WeatherInfo .WeatherTemperature .unit {
  font-size: 20px;
  position: relative;
  line-height: 1;
  top: -15px;
  margin-left: 5px;
}

.Weather .WeatherInfo .description {
  padding: 30px 30px 20px;
  /*color: #a84704;*/
}

.Weather .WeatherInfo .description ul {
  list-style-type: none;
  padding: 0;
}

.Weather .WeatherInfo .InfoCard .unit {
  font-size: 14px;
  position: relative;
  line-height: 1;
  top: -8px;
  margin-left: 5px;
}
